{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>
   

    <a href="{{ path('commande_index', { 'param' : 'livre' }) }}" class="btn btn-primary">Voir commandes livrées</a>
    <a href="{{ path('commande_index', { 'param' : 'nlivre' }) }}" class="btn btn-primary">Voir commandes non livrées</a>
    <a href="{{ path('commande_index', { 'param' : 'tout' }) }}" class="btn btn-primary">Voir toutes les commandes</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_commande</th>
                <th>Nom</th>
                <th>Adresse_livraison</th>
                <th>Status</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.adresseLivraison }}</td>
                <td>{{ commande.status ? 'Yes' : 'No' }}</td>
                <td>{{ commande.total }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_new') }}">Create new</a>
{% endblock %}
