{% extends 'base.html.twig' %}

{% block title %}Carrousel{% endblock %}

{% block body %}
    <h1>Carrousel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrousel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ carrousel.name }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ carrousel.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carrousel_index') }}">back to list</a>

    <a href="{{ path('carrousel_edit', {'id': carrousel.id}) }}">edit</a>

    {{ include('carrousel/_delete_form.html.twig') }}
{% endblock %}
